<li>
  <%= question.text %>
  <%= link_to 'Просмотреть', question_path(question) %> |
  <%= link_to 'Редактировать', edit_question_path(question) %> |
  <%= link_to 'Удалить',
            question_path(question),
            method: :delete,
            data: {confirm: 'Вы уверенны, что хотите удалить вопрос?'}%>
</li>