<h1>Create new question</h1>

<form action="/tests/<%=@test.id %>/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
  <input name="question[test_id]" value=<%=@test.id %> type="hidden" />

  <p>
    <label for="questions-text">Text of the question:</label>
    <input type="text" name="question[text]" id="questions-text" />
  </p><br>

  <input type="submit" value="Create">
</form>