<h1>Мои значки</h1>

<table class='table'>
  <tr>
    <th>Название</th>
    <th>Изображение</th>
  </tr>
  <%#= render partial: 'user_badges', collection: @user_badges, as: :user_badge %>
</table>

<%= link_to 'Все значки', badges_path %> |