<footer>
  <ul>
    <p><%= current_year %></p>
    <p>Автор: Анна Шигирданова</p>
    <li><%= github_url('wowmeow', 'TestGuru')%></li>
    <p><a href="https://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
  </ul>
</footer>
