<h1>Тесты</h1>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Название
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th>Уровень</th>
    <th>Количество вопросов</th>
    <th>Время на выполнение</th>
    <th>Действие</th>
  </tr>

<%= render @tests %>
</table>